<div class="form-container">
    <button class="button" routerLink="../prestamo-id">Consultar Prestamo ID</button><br><br>
    <button class="button" routerLink="../prestamo-form">Crear Prestamo</button><br><br>
    <button class="button" (click)="logout()">Logout</button>
</div>

<div class="table-container">
    <h2>Usuarios con Préstamos Activos</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Identificación</th>
            <th>Tipo de Usuario</th>
            <th>Fecha de Devolución</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let usuario of usuariosConPrestamosActivos">
            <td>{{ usuario.isbn }}</td>
            <td>{{ usuario.identiUsuario }}</td>
            <td>{{ usuario.tipoUsuario }}</td>
            <td>{{ usuario.fechaMaximaDevolucion }}</td>
        </tr>
        </tbody>
    </table>
</div>