<div class="login-container">
    <h2 class="login-title">Login</h2>
    <form (ngSubmit)="login()">
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" class="login-input" required>
  
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" class="login-input" required>
  
      <div *ngIf="errorMessage" class="error-message">
        Credenciales inválidas. Por favor, inténtalo de nuevo.
      </div>
  
      <button type="submit" class="login-button">Login</button>
  
      <div class="forgot-password">
        <a href="#">Olvidé mi contraseña</a>
      </div>
    </form>
  </div>